:root {
    --clr-orange: rgb(255, 78, 1);
    --clr-violet: rgb(20, 4, 35);
}

::-webkit-scrollbar {
    display: none;
}

nav {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: var(--clr-violet);
}

header {
    background-image: url("../img/bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.collection,
.collection-item {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    font-size: 3vh;
}

.collection>a {
    color: white;
}

.collection>a:hover {
    color: var(--clr-orange);
}

.largetext {
    font-size: 10vw;
    color: var(--clr-orange);
}

.card,
.main {
    background-color: inherit;
}

.card h1,
.main h1 {
    color: var(--clr-orange);
    background-color: var(--clr-violet);
    width: 100%;
}

th {
    color: var(--clr-orange);
}

.card,
tr,
.main {
    color: white;
}

.main {
    margin-top: 108px;
}

.sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0px;
}

.my-container {
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
}